{
  "version": "{{VERSION}}",
  "description": "Private logbook stored in your own Git repository",
  "homepage": "https://github.com/{{REPO}}",
  "license": {
    "identifier": "PolyForm-Shield-1.0.0",
    "url": "https://polyformproject.org/licenses/shield/1.0.0"
  },
  "depends": ["nodejs-lts", "git"],
  "url": "{{URL}}",
  "hash": "{{SHA256}}",
  "extract_dir": "package",
  "installer": {
    "script": "Set-Content -Path \"$dir\\gitroll.cmd\" -Value '@node \"%~dp0dist\\gitroll.mjs\" %*' -Encoding ASCII"
  },
  "bin": "gitroll.cmd"
}
